.scp-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scp-card {
  background: #241e1c;
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  padding: 15px;
  text-align: center;
  min-height: 425px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: transform 0.3s;
}

.scp-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.scp-card img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px 10px 0px 0px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.cardImg {
  position: relative;
  border: 1px solid white;
  border-radius: 10px 10px 0px 0px;
  border-bottom-style: none;
}

.image-container {
  position: relative; /* Needed to position .cardName correctly */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardName {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #0e0e14;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 80%;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.cardDesc {
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  min-height: 150px;
  padding-top: 20px;
  border-radius: 0px 0px 10px 10px;
  border-top-style: none;
  display: flex;
  flex-direction: column;
}

.cardStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}

.StatColumn {
  padding-top: 5px;
  font-size: 18px;
}

.cardStats .StatColumn {
  margin: 0;
  font-weight: 600;
  font-size: 1.6em;
  color: #ffffff;
  flex: 1;
  text-align: center;
}

.cardContainment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardContainment > .cLevel {
  height: 60px;
  width: auto;
}

.scp-detail {
  color: white;
  text-align: center;
  padding: 20px;
}

.scpHeader {
  background: #241e1c;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
}

.scpImagePage {
  width: 60%;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.readCard {
  background: #241e1c;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  width: 80%;
  text-align: left;
}

.specs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.backButton {
  margin-top: 20px;
}
